# Usage: pip install -r requirements.txt

# Open3D --------------------------------------------
open3d==0.14.1

# Numpy ---------------------------------------------
numpy>1.20

# Pytorch ---------------------------------------------
torch>=1.7.0
